/* * * *
 * Spacing
 * * * */
@include generate-padding;
@include generate-margin;

/* * * *
 * Font & Text
 * * * */

.font-normal {
  font-weight: normal !important;
}

.font-bold {
  font-weight: $heading-font-weight !important;
}

.font-italic {
  font-style: italic !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* * * *
 * Color
 * * * */

.color-white {
  color: #fff !important;
}

.color-primary {
  color: $brand-primary !important;
}

.color-secondary {
  color: $brand-secondary !important;
}

.color-warning {
  color: $brand-warning !important;
}

.color-danger {
  color: $brand-danger !important;
}

.background-white {
  background-color: #fff !important;
}

.background-primary {
  background-color: $brand-primary !important;
}

.background-secondary {
  background-color: $brand-secondary !important;
}

.background-warning {
  background-color: $brand-warning !important;
}

.background-danger {
  background-color: $brand-danger !important;
}

/* * * *
 * Layout
 * * * */

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.hidden {
  display: none !important;
}
