/*
 * Climate Change Lab
 * Constant Values
 */


export const defaultCity = {'id': 7, 'properties': {'name': 'Philadelphia','admin': 'PA'}};
export const defaultScenario = 'RCP85';

export const apiHost = 'https://api.staging.futurefeelslike.com';
