/*
 * Climate Change Lab
 * Constant Values
 */


export const defaultCity = {"id":7, "properties":{"name":"Philadelphia","admin":"PA"}};
export const defaultScenario = 'RCP85';
export const defaultYears = ["2070","2071","2072","2073","2074","2075","2076"];

export const apiHost = "https://staging.api.futurefeelslike.com";
