<nav class="nav-primary">
  <div class="nav-left">
    <h1 class="h4 logo">
      <a routerLink="/">
        <img src="/assets/img/climate-logo-white.svg">
      </a>
    </h1>
  </div>
  <div class="nav-right">
    <a class="button button-link" href="{{ apiHost }}/accounts/api/">API</a>
    <a class="button button-link active" [routerLink]="['/']">Lab</a>
    <div class="dropdown"
         *ngIf="authService.isAuthenticated()"
         dropdown
         [(isOpen)]="isSettingsDropdownOpen">
      <button id="settings-dropdown" type="button" class="button button-link" dropdownToggle>
        {{ authService.getEmail() }}
        <i [ngClass]="{'icon-angle-down': !isSettingsDropdownOpen, 'icon-angle-up': isSettingsDropdownOpen}"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="settings-dropdown">
        <li role="menuitem">
          <a class="dropdown-item" href="{{ apiHost }}/accounts/profile/">Account</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
