<nav class="nav-primary">
  <div class="nav-left">
    <h1 class="h4 logo">
      <a routerLink="/">
        <img src="{{ logoUrl }}">
      </a>
    </h1>
  </div>
  <div class="controls">
    <div class="nav-right">
      <div class="dropdown"
           *ngIf="authService.isAuthenticated()"
           dropdown
           [(isOpen)]="isSettingsDropdownOpen">
        <button id="settings-dropdown" type="button" class="button button-link" dropdownToggle>
          <i class="icon-user"></i>
          {{ authService.getEmail() }}
          <i [ngClass]="{'icon-angle-down': !isSettingsDropdownOpen, 'icon-angle-up': isSettingsDropdownOpen}"></i>
        </button>
        <ul dropdownMenu class="dropdown-menu-right" role="menu" aria-labelledby="settings-dropdown">
          <li role="menuitem">
            <a class="dropdown-item" [routerLink]="['/']">Go to Dashboard</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem" *ngIf="projectID">
            <a class="dropdown-item" [routerLink]="['/edit/', projectID]">Project Settings</a>
          </li>
          <li class="divider dropdown-divider" *ngIf="projectID"></li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="authService.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
