<div class="chart-heading">
    <h2 class="chart-label">
    {{indicator.label}}
    </h2>
    <div class="chart-actions">
        <button class="button button-link" tooltipPlacement="bottom" tooltipTrigger="mouseenter"
            tooltipPopupDelay="300" title="" tooltip="Export"><i class="icon icon-export"></i>
        </button>
        <button class="button button-link"
                tooltipPlacement="bottom"
                tooltipTrigger="mouseenter"
                tooltipPopupDelay="300"
                title=""
                tooltip="Options"
                (click)="isCollapsed = !isCollapsed"><i class="icon icon-cog"></i>
        </button>
        <button class="button button-link"
                tooltipPlacement="bottom"
                tooltipTrigger="mouseenter"
                tooltipPopupDelay="300"
                title=""
                tooltip="Remove"><i class="icon icon-cancel"></i>
        </button>
    </div>
</div>
<sk-wave [isRunning]="!chartData || ! chartData.length"></sk-wave>
<div *ngIf="chartData && chartData.length">
    <div class="chart-body">
        <line-graph
            [data]="chartData"
            [indicator]="indicator"
            [trendline]="trendline"
            [min]="min"
            [max]="max"
            [minVal]="minVal"
            [maxVal]="maxVal">
        </line-graph>
        <div class="chart-options" *ngIf="isCollapsed">
            <h4 class="margin-top-0 h5">Options</h4>
            <div class="chart-options-body">
                <div class="chart-options-group">
                    <ui-switch (change)="toggleTrendline()" size="small"></ui-switch>
                    <span>Show Trendline</span>
                </div>
                <div class="chart-options-group">
                    <ui-switch (change)="toggleMin()" size="small"></ui-switch>
                    <span>Show Min</span>
                    <input
                        type="number"
                        step="any"
                        placeholder="0"
                        [(ngModel)]="minVal">
                </div>
                <div class="chart-options-group">
                    <ui-switch (change)="toggleMax()" size="small"></ui-switch>
                    <span>Show Max</span>
                    <input
                        type="number"
                        step="any"
                        placeholder="0"
                        [(ngModel)]="maxVal">
                </div>
            </div>
        </div>
    </div>
</div>
