<div class="chart-heading">
    <h2 class="chart-label">
    {{chart.indicator.label}}
    </h2>
    <div class="chart-actions">
        <button class="button button-link"
                placement="top"
                title=""
                tooltip="Options"
                [ngClass]="{'active': chart.showSettings}"
                (click)="onSettingsToggleClicked()"><i class="icon icon-cog"></i>
        </button>
        <button class="button button-link"
                placement="top"
                title=""
                tooltip="Remove"
                (click)="removeChart(chart)"><i class="icon icon-cancel"></i>
        </button>
    </div>
</div>
<div class="chart-body">
    <sk-wave [isRunning]="!chartData || ! chartData.length"></sk-wave>
    <ccl-line-graph
        *ngIf="chartData && chartData.length"
        [data]="chartData"
        [indicator]="chart.indicator"
        [trendline]="chart.showTrendline"
        [min]="chart.showMinimum"
        [max]="chart.showMaximum"
        [minVal]="chart.minimumValue"
        [maxVal]="chart.maximumValue"
        [hover]="isHover">
    </ccl-line-graph>
    <div class="chart-options" *ngIf="chart.showSettings">
        <div class="chart-options-body">
            <div class="chart-options-group">
                <ui-switch [(ngModel)]="chart.showTrendline"
                           size="small"></ui-switch>
                <span>Show Trendline</span>
            </div>
            <div class="chart-options-group">
                <ui-switch [(ngModel)]="chart.showMinimum"
                           size="small"></ui-switch>
                <span>Show Min</span>
                <input
                    type="number"
                    step="any"
                    placeholder="0"
                    [(ngModel)]="chart.minimumValue">
            </div>
            <div class="chart-options-group">
                <ui-switch [(ngModel)]="chart.showMaximum"
                           size="small"></ui-switch>
                <span>Show Max</span>
                <input
                    type="number"
                    step="any"
                    placeholder="0"
                    [(ngModel)]="chart.maximumValue">
            </div>
        </div>
    </div>
</div>
<div class="chart-options">
    <div class="chart-options-body">
        <div dropdown [dropup]="true" class="chart-options-group btn-group">
            <button dropdownToggle class="button dropdown-toggle" type="button"
                id="exportDropUp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon icon-download"></i>
                Download
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="exportDropUp">
                <li role="menuitem">
                    <a class="drowdown-item" (click)="onExportClicked()">Download JSON</a>
                </li>
                <li role="menuitem">
                    <a class="drowdown-item" (click)="onDownloadImageClicked()">Download Chart</a>
                </li>
            </ul>
        </div>
        <div dropdown [dropup]="true" class="chart-options-group btn-group">
            <button dropdownToggle class="button dropdown-toggle" type="button"
                id="apiCallDropUp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                &gt;_ Get API Call
            </button>
            <ul *dropdownMenu class="dropdown-menu curl-popup" role="menu" aria-labelledby="apiCallDropUp">
                <li role="menuitem" (click)="$event.stopPropagation()">
                    <div class="drowdown-item">
                        <strong>Get API Call</strong>
                        <p>Use our API to access these data regularly for your own research or application.</p>
                        <div class="input-group">
                            <input type="text" class="form-control curl-command"
                                [(ngModel)]="curlCommand"
                                placeholder="curl command for API query"
                                #curlCommandInput>
                            <span
                                tooltip="Copied!"
                                triggers="" #copiedPopup="bs-tooltip"
                                class="input-group-btn">
                                <a [ngxClipboard]="curlCommandInput"
                                    (cbOnSuccess)="curlCommandCopied(copiedPopup)">
                                    <i class="icon icon-umbrella"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
