<div class="chart-heading">
    <h2 class="chart-label">
    {{chart.indicator.label}}
    </h2>
    <div class="chart-actions">
        <button class="button button-link"
                tooltipPlacement="bottom"
                tooltipTrigger="mouseenter"
                tooltipPopupDelay="300"
                title=""
                tooltip="Export"
                (click)="onExportClicked()"><i class="icon icon-export"></i>
        </button>
        <button class="button button-link"
                tooltipPlacement="bottom"
                tooltipTrigger="mouseenter"
                tooltipPopupDelay="300"
                title=""
                tooltip="Options"
                [ngClass]="{'active': chart.showSettings}"
                (click)="onSettingsToggleClicked()"><i class="icon icon-cog"></i>
        </button>
        <button class="button button-link"
                tooltipPlacement="bottom"
                tooltipTrigger="mouseenter"
                tooltipPopupDelay="300"
                title=""
                tooltip="Remove"
                (click)="removeChart(chart)"><i class="icon icon-cancel"></i>
        </button>
    </div>
</div>
<div class="chart-body">
    <sk-wave [isRunning]="!chartData || ! chartData.length"></sk-wave>
    <line-graph
        *ngIf="chartData && chartData.length"
        [data]="chartData"
        [indicator]="chart.indicator"
        [trendline]="chart.showTrendline"
        [min]="chart.showMinimum"
        [max]="chart.showMaximum"
        [minVal]="chart.minimumValue"
        [maxVal]="chart.maximumValue"
        [isHover]="isHover">
    </line-graph>
    <div class="chart-options" *ngIf="chart.showSettings">
        <h4 class="margin-top-0 h5">Options</h4>
        <div class="chart-options-body">
            <div class="chart-options-group">
                <ui-switch [(ngModel)]="chart.showTrendline"
                           (ngModelChanges)="onSettingChanged()"
                           size="small"></ui-switch>
                <span>Show Trendline</span>
            </div>
            <div class="chart-options-group">
                <ui-switch [(ngModel)]="chart.showMinimum"
                           (ngModelChanges)="onSettingChanged()"
                           size="small"></ui-switch>
                <span>Show Min</span>
                <input
                    type="number"
                    step="any"
                    placeholder="0"
                    [(ngModel)]="chart.minimumValue"
                    (ngModelChanges)="onSettingChanged()">
            </div>
            <div class="chart-options-group">
                <ui-switch [(ngModel)]="chart.showMaximum"
                           (ngModelChanges)="onSettingChanged()"
                           size="small"></ui-switch>
                <span>Show Max</span>
                <input
                    type="number"
                    step="any"
                    placeholder="0"
                    [(ngModel)]="chart.maximumValue"
                    (ngModelChanges)="onSettingChanged()">
            </div>
        </div>
    </div>
</div>
