.charts {
  padding: 2rem 1.5rem;
}

.chart {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,.05);
  margin-bottom: 2rem;
}

.chart-label {
  font-size: 2.34375rem;
  margin: 0;
}

.chart-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.chart-actions {
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}