<div class="sidebar-content scrollable">
    <h3 class="sidebar-category" (click)="isTempCollapsed = !isTempCollapsed">Temperature</h3>
    <ccl-indicator-list
        [collapse]="isTempCollapsed"
        [indicators]="tempIndicators"
        (indicatorClicked)="onIndicatorClicked($event)">
    </ccl-indicator-list>
    <h3 class="sidebar-category" (click)="isPrecipCollapsed = !isPrecipCollapsed">Precipitation</h3>
    <ccl-indicator-list
        [collapse]="isPrecipCollapsed"
        [indicators]="precipIndicators"
        (indicatorClicked)="onIndicatorClicked($event)">
    </ccl-indicator-list>
</div>
