.flex-container {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  justify-content: space-around;
  overflow: hidden;
}

.flex-expand {
  color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.app-fullscreen {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* * * *
 * Containers
 * * * */
.scrollable {
  overflow-y: auto;
}

.container-fluid {
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;
  /* Widths/breakpoints should be figured out later and assigned to variables */
  max-width: 1000px;
}

/* Style for this specific application */
.container-fluid {
  height: 300px;
}
