  <div class="app-fullscreen">

    <navbar></navbar>

    <div class="flex-container">

      <sidebar></sidebar>

      <div class="flex-expand">
        <nav class="controls">
          <div class="nav-left">
            <div class="dropdown">
              <i class="icon-globe"></i>
              <label>City</label>
              <input auto-complete
                [(ngModel)]="cityModel"
                placeholder="Enter your city"
                [source]="apiCities"
                [list-formatter]="cityListFormatter"
                [value-formatter]="cityValueFormatter"
                display-property-name="name"
                path-to-data="features"
                [value-changed]="onCitySelected()"
                min-chars="2" />
            </div>

            <div class="dropdown">
              <button class="button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon-flash"></i>
                RCP 4.5
                <i class="icon-angle-down caret"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            
            <div class="dropdown">
              <button class="button dropdown-toggle" type="button" data-target="#modelOptions"data-toggle="modal" aria-haspopup="true" aria-expanded="true">
                <i class="icon-flash"></i>
                {{ selectedClimateModels }}
                <label>
                  <a href="#" data-toggle="modal" >Select Models</a>
                </label>
              </button>
            </div>
          </div>
          <div class="nav-right">
            <button class="button button-default">
              Reset
            </button>
          </div>
        </nav>
        <charts class="charts scrollable"></charts>
      </div>
  </div>
  <div class="modal modal-small" id="modelOptions" tabindex="-1" role="dialog" aria-labelledby="modelOptions">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="button button-modal-close" data-dismiss="modal" aria-label="Close">
            <span class="icon icon-cancel"></span>
          </button>
          <h4 class="modal-title">Select Models</h4>
          <div *ngFor="let climateModel of climateModels">
            <label>
              <input type="checkbox" name="checkbox" value="value" [(ngModel)]="climateModel.selected">
              {{ climateModel.name }}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button" (click)="updateClimateModels()" data-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

