  <div class="app-fullscreen">

    <navbar></navbar>

    <div class="flex-container">

      <sidebar class="sidebar-content scrollable"></sidebar>

      <div class="flex-expand">
        <nav class="controls">
          <div class="nav-left">
            <div class="dropdown dropdown-location">
              <i class="icon-globe"></i>
              <label>City</label>
              <input auto-complete
                [(ngModel)]="cityModel"
                placeholder="Enter your city"
                [source]="apiCities"
                [list-formatter]="cityListFormatter"
                [value-formatter]="cityValueFormatter"
                display-property-name="name"
                path-to-data="features"
                [value-changed]="onCitySelected()"
                min-chars="2" />
            </div>

            <!-- scenario selector -->
            <div dropdown class="dropdown dropdown-scenario">
              <button dropdownToggle class="button dropdown-toggle" type="button"
                id="scenarioDropdown" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                <i class="icon-flash"></i>
                {{ selectedScenario }}
                <i class="icon-angle-down caret"></i>
              </button>
              <ul dropdownMenu class="dropdown-menu" aria-labelledby="scenarioDropdown">
                <li *ngFor="let scenario of scenarios">
                  <a (click)="updateScenario(scenario)"
                    tooltip="{{ scenario.description }}"
                    tooltipPlacement="bottom"
                    tooltipTrigger="mouseenter"
                    tooltipPopupDelay="300">{{ scenario.name }}</a>
                </li>
              </ul>
            </div>

            <!-- climate model selector -->
            <div class="dropdown dropdown-model">
              <button class="button" type="button" data-target="#modelOptions"
                aria-haspopup="true" aria-expanded="true"
                (click)="smModal.show()">
                <i class="icon-flash"></i>
                {{ selectedClimateModels }}
                <label>
                  <a>Select Models</a>
                </label>
              </button>
            </div>

          </div>
          <div class="nav-right">
            <button class="button button-secondary">
              Reset
            </button>
          </div>
        </nav>
        <charts class="charts scrollable"></charts>
      </div>
  </div>

  <!-- TODO: remove config option to not display modal background once issue fixed:
       valor-software/ng2-bootstrap#854 -->
  <div bsModal #smModal="bs-modal" class="modal modal-small" id="modelOptions" tabindex="-1"
    role="dialog" aria-labelledby="modelOptions" aria-hidden="true" [config]="{backdrop: false}">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="button button-modal-close" data-dismiss="bs-modal"
            (click)="updateClimateModels(); smModal.hide()" aria-label="Close">
            <span class="icon icon-cancel"></span>
          </button>
          <h4 class="modal-title">Select Models</h4>
          <div>
            <label>
              <input type="checkbox" name="allModelsCheckbox"
                value="value" [(ngModel)]="allModels" [disabled]="allModels"
                (ngModelChange)="clearClimateModels()">Use all models
            </label>
          </div>
          <hr />
          <div *ngFor="let climateModel of climateModels">
            <label>
              <input type="checkbox" name="modelCheckbox" (click)="deselectUseAllModels()"
                value="value" [(ngModel)]="climateModel.selected">
              {{ climateModel.name }}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button" (click)="updateClimateModels(); smModal.hide();"
            data-dismiss="bs-modal">Update</button>
        </div>
      </div>
    </div>
  </div>

