  <div class="app-fullscreen">

    <navbar></navbar>

    <div class="flex-container">

      <sidebar class="sidebar-content scrollable" (onIndicatorSelected)="indicatorSelected($event)"></sidebar>

      <div class="flex-expand">
        <nav class="controls">
          <div class="nav-left">
            <div class="dropdown dropdown-location">
              <div class="input">
                <i class="icon-globe"></i>
                <input auto-complete
                    [(ngModel)]="project.city"
                    [source]="apiCities"
                    [list-formatter]="cityListFormatter"
                    [value-formatter]="cityValueFormatter"
                    display-property-name="name"
                    path-to-data="features"
                    [value-changed]="onCitySelected()"
                    type="text"
                    placeholder="Enter your city"
                    min-chars="2" />

              </div>
            </div>

            <!-- scenario selector -->
            <scenario-dropdown [project]="project"></scenario-dropdown>

            <!-- climate model selector -->
            <model-dropdown [project]="project"></model-dropdown>

          </div>
          <div class="nav-right"></div>
        </nav>
        <div class="charts scrollable">
          <div class="chart" *ngFor="let chart of project.charts">
            <chart [chart]="chart"
                   [city]="project.city"
                   [models]="project.models"
                   [scenario]="project.scenario"
                   (onRemoveChart)="removeChart($event)"
                   (onChartSettingChanged)="chartSettingChanged()"></chart>
          </div>
        </div>
      </div>
    </div>
  </div>
