<div class="app-fullscreen" *ngIf="model.project">

    <ccl-navbar></ccl-navbar>

    <div class="form">
        <div class="project-title">
          <h3 *ngIf="!edit">New project</h3>
          <h3 *ngIf="edit">Edit project</h3>
        </div>
        <div class="add-edit-project-body">
            <form (ngSubmit)="onSubmit()" #projectForm="ngForm" class="flex-column">
                <label for="project.name">Title</label>
                <input type="text"
                       class="form-control"
                       id="project.name"
                       name="project.name"
                       [(ngModel)]="model.project.project_data.name">
                <label for="project.description">Description</label>
                <textarea type="text"
                        class="form-control description"
                        id="project.description"
                        name="project.description"
                        [(ngModel)]="model.project.project_data.description"></textarea>
                <div *ngIf="!edit" class="project-options">
                    <label for="project.city">Choose a city*</label>
                    <ccl-city-dropdown [projectData]="model.project.project_data" [showIcon]="false"></ccl-city-dropdown>
                    <div class="row">
                        <div class="column-6 flex-column">
                            <label for="project.scenario">Scenario*</label>
                            <ccl-scenario-toggle [projectData]="model.project.project_data"></ccl-scenario-toggle>
                        </div>
                        <div class="column-6 flex-column">
                            <label for="project.models">Models</label>
                            <ccl-model-modal [projectData]="model.project.project_data"></ccl-model-modal>
                        </div>
                        <div class="column-6 flex-column" *ngIf="model.project.project_data.charts[0]">
                            <label for="project.chart.units">Units</label>
                            <ccl-units-dropdown (unitSelected)="onUnitSelected($event)"
                                                [units]="model.project.project_data.charts[0].indicator.available_units"
                                                [unit]="model.project.project_data.charts[0].unit">
                            </ccl-units-dropdown>
                        </div>
                    </div>
                </div>
                <div class="row align-center">
                    <button type="submit"
                            class="button button-primary"
                            [disabled]="!projectForm.form.valid || !model.project.project_data.city.id || !model.project.project_data.scenario.name"
                            *ngIf="!edit">Create Project</button>
                    <button type="submit"
                            class="button button-primary"
                            [disabled]="!projectForm.form.valid"
                            *ngIf="edit">Update Project</button>
                </div>
            </form>
        </div>
    </div>
</div>
