.chart {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-graphic {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ccl-line-graph {
  position: relative;
  display: block;
  box-shadow: 2px 2px 10px rgba(0,0,0,.05);
  height: 0;
}

.line-graph {
  flex: 1;
  display: flex;
}

.chart-container {
  height: 100%;
}

ccl-chart {
  width: 100%;
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;

  .noUi-pips-horizontal {
    font-size: 12px;
  }

  .noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
  }

  .noUi-marker-horizontal.noUi-marker {
    margin-top: -3px;
    width: 1px;
    margin-left: 0;
  }

  .noUi-connect {
    background-color: darken($chart-line, 30%);
  }

  sk-wave[ng-reflect-is-running="true"] {
    padding: 6rem;
    position: relative;
    display: block;
  }

  .chart-label {
    font-size: $font-size-h3;
    margin: 0;
    font-weight: 800;
    padding: 2rem 1.5rem;
  }

  .chart-legend {
    padding: 2rem;
    padding-top: 0;
    color: #757575;
    font-size: 12px;

    .chart-legend-line {
      color: $chart-line;
    }

    .chart-legend-icons {
       padding-bottom: 0.5rem;
       color: $color-header;
       position: relative;
       left: -3px;
       margin-top: 16px;
    }

    .chart-legend-minmax {
        background-color: darken($chart-minmax, 10%);
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 2px;
        position: relative;
        opacity: 0.2;
        top: 1px;
    }
  }



  .chart-body {
    flex: 1;
  }

  .chart-options {
    margin: 0;
    padding: 1rem 1.5rem;
    color: $heading-font-color;

    &.buttons {
      border-top: 1px solid $gray-2;
    }

    &.slider {
      padding: 0rem 2rem 3rem;
    }

    .chart-options-body {
      display: flex;
    }

    .chart-options-group {
      display: flex;
      align-items: center;
      padding-right: 0.5rem;

      &.threshold {
        margin-top: -27px;
      }

      span {
        margin-right: 0.5rem;
      }

      .curl-popup {
        width: 300px;
        padding: 1rem;

        h4 {
          margin-top: 4px;
          margin-bottom: 10px;
        }
      }

      .input-group {
        button {
          height: 35px;
          width: 35px;
          position: relative;
          left: -1px;
          float: left;
          background-color: #e0e0e0;
          border: 1px solid #c1c1c1;
        }

        .curl-label {
          font-weight: 700;
        }
      }

      .dropdown-toggle {
        background-color: #e0e0e0;
        padding: 0.4rem 0.7rem 0.4rem 0.5rem;
        border-color: #c1c1c1;
      }

      .optional-parameters-label {
        line-height: 6.0rem;
      }

      button {
        line-height: 3.0rem;
      }

      input {
        width: 60px;
        font-weight: $body-font-weight;
        font-family: $body-font-family;
        line-height: 3.0rem;
        height: 3rem;
        border-radius: 3px;

        &.curl-command {
          width: 240px;
          height: 35px;
          float: left;
        }
      }

      select {
        font-weight: $body-font-weight;
        font-family: $body-font-family;
        height: 3rem;
        line-height: 3.0rem;
        margin-top: 1.5rem;
        margin-right: 0.5rem;

        min-width: 100px;
        padding: 1rem 0;

        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);

        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
        background-clip: padding-box;
      }
    }
  }

  .chart-heading {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }

  .chart-actions {
    text-align: right;
    padding: 0.8rem 0;
    .button {
      position: relative;
      float: left;
      margin-right: 3px;
      padding-top: .5rem;
      padding-bottom: .5rem;
      &:after {
        content: "";
        border-right: 1px solid $gray-2;
        position: absolute;
        top: 2px;
        right: -4px;
        bottom: 2px;
      }
      &:last-child {
        &:after {
          border-width: 0;
        }
      }
    }
  }

  .axis {

    color: $chart-axis;
    opacity: .5;

    path, line {
      fill: none;
      stroke-width: 1;
    }

    text {
      font-size: 11px;
      font-family: $body-font-family;
    }
  }

  .grid {

    line {
      stroke: $chart-grid;
      stroke-width: 1;
      opacity: 1;
      shape-rendering: crispEdges;
    }

    path {
      stroke-width: 0;
    }
  }

  .color-label{
    display: inline;
  }

  .line {
    fill: none;
    stroke: $chart-line;
    stroke-width: 2px;
  }

  .trendline {
    fill: none;
    stroke: $chart-trendline;
    stroke-width: 1px;
    opacity: .7;
  }

  .area {
    fill: $chart-minmax;
    opacity: .2;
    z-index: -1;
  }

  .min-bar{
    fill: $chart-min-bar;
    opacity: .3;
  }

  .max-bar{
    fill: $chart-max-bar;
    opacity: .3;
  }

  #overlay {
    fill: none;
    pointer-events: all;
  }

  g {
    circle {
      fill: $brand-primary;
      stroke: #fff;
      stroke-width: 2px;
    }

    .scrubber-box {
      fill: #000;
    }

    .scrubber-text {
      fill: #fff;
      stroke: #fff;
      font-weight: 300;
    }
  }

  .scrubline {
    stroke: $chart-scrubline;
  }

  .chart-controls {
    color: #000;

    .controls-header {
      .controls-label {
       display: inline-block;
      }

      .options-icon {
        display: inline-block;
      }
    }

    .controls-body {
      input {
        width: 75px;
      }
    }
  }
}

.switch.switch-small.checked {
  background-color: #EFF4F7!important;
  border-color: #EFF4F7!important;
}

