.dash-left {
    display: inline-flex;
    float: left;
    padding: 0.75rem 3rem 0;
}

.dash-right {
    display: inline-flex;
    float: right;
    padding: 0.75rem 3rem 0;
}

.dash-body {
    text-align: center;
    margin-bottom: 40px;

    .icon-cloud {
        font-size: 300px;
    }

    .table {
        tr {
            background: none;
            border-bottom: gray 1px solid;

            .title {
                text-align: left;
                margin: 4rem auto 4rem 3rem;
            }

            a{
                margin: 4rem 1rem 4rem auto;
            }

            > div {
                line-height: 5rem;
            }

            .name, .delete {
                cursor: pointer;
            }
        }
    }
}

.about {
    display: inline-table;
    background-color: lightgrey;
    padding: 30px 50px;
    width: 100%;

    h2 {
        margin: 0 0 20px;
    }
}
