.login-body {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-box {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-self: flex-start;
        padding: 10px;

        a {
            align-self: center;
            margin-top: 6px;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            label {
                margin-bottom: 5px;
                margin-top: 1.4rem;
            }

            button {
                width: 80px;
                align-self: center;
                margin-top: 2.8rem;
            }
        }
    }
}


@media (max-width: 350px) {
    .login-box {
        width: 100%;
    }
}
