nav {
  flex-shrink: 0;
}

.nav-primary {
  background-color: $color-header;
  height: 100%;
  color: #fff;
  height: $nav-height-main;

  & > .nav-left {
    float: left;
    padding: 0.6rem 1.5rem 0;
  }

  & > .nav-right {
    float: right;
    padding: 0.7rem 1.5rem 0;
  }
}

.controls {
  height: $nav-height-secondary;
  color: #fff;
  border-bottom: 1px solid $gray-2;
  background-color: #F3F3F3;
  padding: 1rem 0;
  @include clearfix;

  label {
    text-transform: uppercase;
    color: $body-font-color;
    font-size: $font-size-h6;
    margin-bottom: 2px;
    display: block;
  }

  .control-group {
    float: left;
    margin-left: 6px;
    &:first-child {
      margin-left: 1.5rem;
    }
  }

  .dropdown {
    display: block;
    height: 100%;
    & > .button {
      height: 4rem;
      border-radius: 0;
      border-width: 0;
      background-color: #fff;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border: 1px solid $gray-3;
      border-radius: 3px;

      &.active {
        background-color: #E3E3E3;
      }
    }
  }

  & > .nav-left {
  }

  & > .nav-right {
    float: right;
  }

  li > a.dropdown-item {
    cursor: pointer;
  }
  .dropdown-location {
    input {
      border-color: transparent;
      background-color: #fff;
      outline: none;
      color: inherit;
      height: 4rem;
      border: 1px solid $gray-3;
      border-radius: 3px;
    }
  }
}

.logo {
  & > a {
    & > img {
      width: 9.4rem;
      position: relative;
      top: 0.3rem;
    }
  }
}
