.form {
    margin: 10% 20%;
}

label {
    display: block;
}

.form-control {
    width: 100%;
    margin-bottom: 20px;
}

.dropdown {
    label {
        display: inline;
    }
}

.submit.btn {
    margin: 20px 0;
}
