 @import "~nouislider/distribute/nouislider.min.css";

 nouislider {
    width: 100%;
    padding-bottom: 10px;

    .noUi-target.noUi-ltr.noUi-horizontal {
      width: 100%;
      height: 5px;

        .noUi-handle {
            width: 10px;
            height: 20px;
            left: -5px;
            top: -9px;
        }

        .noUi-handle:before, .noUi-handle:after {
            width: 0px;
        }

    }
  }
