<div class="app-fullscreen">

    <navbar></navbar>

    <div class="dash-body">
        <div *ngIf="!projects.length">
            <i class="icon-cloud"></i>
            <div>To explore climate change data, <a [routerLink]="['/new']">start a new project.</a></div>
        </div>
        <div *ngIf="projects.length">
            <table class="table">
                <tr class="row header">
                    <div class="col-xs-7">
                        <h2 class="title">Lab</h2>
                    </div>
                    <div class="col-xs-4">
                        <a class="button button-default pull-right" [routerLink]="['/new']">New Project</a>
                    </div>
                </tr>
                <tr class="row" *ngFor="let project of pageOfProjects">
                    <div class="col-xs-6 name" [routerLink]="['/lab', project.id]">{{ project.name }}</div>
                    <div class="col-xs-2">
                        {{ project.charts.length }} chart<span *ngIf="project.charts.length > 1 || project.charts.length == 0">s</span>
                    </div>
                    <div class="col-xs-2">5 minutes</div>
                    <div class="col-xs-1 delete" (click)="deleteProject(project)">
                        <i class="icon-trash"></i>
                    </div>
                </tr>
            </table>
            <pagination [totalItems]="projects.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="setPage($event)">
            </pagination>
        </div>
    </div>
    <div class="about">
        <div class="title">
            <h2>API</h2>
        </div>
        <div class="about-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </div>
    </div>
</div>
