<div class="app-page">

    <navbar></navbar>

    <section class="lab">
        <div class="container">
            <div *ngIf="!projects.length">
                <i class="icon-cloud"></i>
                <div>To explore climate change data, <a [routerLink]="['/new']">start a new project.</a></div>
            </div>
            <div *ngIf="projects.length">
                <div class="header-row row columns-center align-justify">
                    <div class="column column-6">
                        <h2 class="title margin-no">Lab</h2>
                    </div>
                    <div class="column column-6 text-right">
                        <a class="button button-primary" [routerLink]="['/new']">New Project</a>
                    </div>
                </div>
                <div class="project-rows">
                    <div class="row project-row" *ngFor="let project of pageOfProjects">
                        <div class="column column-7 name text-left pointer" [routerLink]="['/lab', project.id]">{{ project.name }}</div>
                        <div class="column column-2">
                            {{ project.charts.length }} chart<span *ngIf="project.charts.length > 1 || project.charts.length == 0">s</span>
                        </div>
                        <div class="column column-2">5 minutes</div>
                        <div class="column column-1 delete pointer" (click)="deleteProject(project)">
                            <i class="icon-trash"></i>
                        </div>
                    </div>
                </div>
                <div class="row controls-row">
                    <div class="column column-6 text-left">
                        <a *ngIf="currentPage > 1"
                           class="pointer"
                           (click)="setPage(currentPage - 1)">Previous {{ itemsPerPage }}</a>
                    </div>
                    <div class="column column-6 text-right">
                        <a *ngIf="currentPage * itemsPerPage < projects.length"
                           class="pointer"
                           (click)="setPage(currentPage + 1)">Next {{ itemsPerPage }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="title">
                <h2>API</h2>
            </div>
            <div class="about-body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </div>
        </div>
    </section>
</div>
