  <div class="app-fullscreen">
    <nav class="nav-primary">
      <div class="nav-left">
        <h1 class="h4 logo">
          Climate Lab
        </h1>
      </div>
    </nav>

    <div class="flex-container">

      <sidebar></sidebar>

      <div class="flex-expand">
        <nav class="controls">
          <div class="nav-left">

            <input auto-complete
              [(ngModel)]="cityModel"
              placeholder="Enter Address(min. 2 chars)"
              source="apiCities"
              display-property-name="name"
              path-to-data="features"
              min-chars="2" />selected: {{model4 | json}}

          <!--
            <div class="dropdown">
              <button class="button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon-globe"></i>
                Philadelphia, PA
                <i class="icon-angle-down caret"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <input type="text" name="" placeholder="Enter your city">
              </ul>
            </div>
            -->

            <div class="dropdown">
              <button class="button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon-flash"></i>
                RCP 4.5
                <i class="icon-angle-down caret"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="icon-flash"></i>
                All Models
                <i class="icon-angle-down caret"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="active"><a href="#">All Models</a></li>
                <li><a href="#">Average</a></li>
                <li><a href="#">1st Quartile</a></li>
                <li><a href="#">2nd Quartile</a></li>
                <li><a href="#">3rd Quartile</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modelOptions">Select Models</a></li>
              </ul>
            </div>
          </div>
          <div class="nav-right">
            <button class="button button-default">
              Reset
            </button>
          </div>
        </nav>
        <charts class="charts scrollable"></charts>
      </div>
    </div>
  </div>
  <div class="modal modal-small" id="modelOptions" tabindex="-1" role="dialog" aria-labelledby="modelOptions">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="button button-modal-close" data-dismiss="modal" aria-label="Close">
            <span class="icon icon-cancel"></span>
          </button>
          <h4 class="modal-title">Select Models</h4>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 1
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 2
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 3
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 4
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 5
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 6
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 7
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 8
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 9
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 10
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 11
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 12
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 13
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 14
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 15
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 16
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 17
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 18
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 19
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" name="checkbox" value="value">
              Model 20
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="button">Update</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

